[submodule "backend"]
    path = backend
    url = https://github.com/Codzilla-HSE/backend
    branch = edit_configs

[submodule "frontend"]
    path = frontend
    url = https://github.com/Codzilla-HSE/frontend
    branch = submisionFilesAndTesingIt
