[submodule "backend"]
    path = backend
    url = https://github.com/Codzilla-HSE/backend
    branch = send-submissions-by-websocket

[submodule "frontend"]
    path = frontend
    url = https://github.com/Codzilla-HSE/frontend
    branch = get-submissions-by-websocket

[submodule "services/artefactik0"]
	path = services/artefactik0
	url = https://github.com/Spelaya-melon-X/Artefactik0.git
[submodule "services/sqlservice"]
	path = services/sqlservice
	url = https://github.com/Codzilla-HSE/SqlService.git
